.rows {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  
}

.pixel {
  width: 10px;
  height: 10px;
  border: 0px solid lightblue;
  background-color: lightskyblue;
}

.pintado {
  background-color: rgb(144, 32, 209);
}
