.rows {
  display: flex;
  flex-direction: column;
  
}

.row {
  display: flex;
  justify-content: center;
}

.pixel {
  width: 5px;
  height: 5px;
  border: 1px solid lightblue;
  background-color: lightskyblue;
}

.pintado {
  background-color: rgb(144, 32, 209);
}

